<app-navigation></app-navigation>
<div class="container"><br />
  <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading to-animate">Update Dish</h2>
    </div>
  </div>
        <div class="form-group ">
          <label for="name" class="sr-only">Dish Name</label>
          <input id="name" class="form-control" placeholder="Dish Name" type="text">
        </div>
        <div class="form-group">
          <label for="category" class="sr-only">Category</label>
          <select class="form-control" id="category">
            <option>Select the Category</option>
            <option>Breakfast</option>
            <option>Lunch</option>
            <option>Dinner</option>
            <option>Main course</option>
            <option>Starter</option>
            <option>Desserts</option>
            <option>Chef's special</option>
            <option>Customized</option>
          </select>
        </div>
        <div class="form-group ">
          <label for="message" class="sr-only">Dish Description</label>
          <textarea name="" id="message" cols="30" rows="5" class="form-control" placeholder="Dish Description"></textarea>
        </div>
        <div class="form-group ">
          <input class="btn" type="file" name="pic" accept="image/*">
        </div>
        <div class="form-group ">
          <input class="btn btn-primary" value="Update Dish" type="submit">
        </div>
</div>


