<!--* Created by harini on 11/6/17.-->
<!--**-->
<!--* Created by harini on 11/6/17.-->
<!--*/-->
<app-header></app-header>
<app-navigation></app-navigation>
<div class="container"><br />
  <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading to-animate">Delete Dish</h2>
    </div>
  </div>
      <p>Should display the details of the particular dish</p>
  <input class="btn btn-primary" value="Delete Dish" type="submit">
</div>


