<div class="header_div">
<div class="marginContent">
    <app-header1></app-header1>
    <!--<ul class="right_side_icon">-->
      <!--<li class=""><i class="fa fa-bell"></i></li>-->
      <!--<li class=""><i class="fa fa-envelope"></i></li>-->
    <!--</ul>-->
  </div>
  <div class="clear"></div>
</div>
<!--<ul class="header_list_item">
  <a  routerLink="/ManageEachSchool"><li class="list_active">Services</li></a>
  <a  routerLink="/ManageEachSchool"><li class="">Manage</li></a>
</ul>-->
<!--<li ng-hide="hideit"></li>-->
