<!--* Created by harini on 11/6/17.-->
<!--**-->
<!--* Created by harini on 11/6/17.-->
<!--*/-->
<app-header></app-header>
<app-navigation></app-navigation>
<div class="container"><br />
  <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading to-animate">Delete Menu</h2>
    </div>
  </div>
  <div>
    <h3>Menu name: Menu</h3>
    <h4>Categories:</h4>
    <p>Appetizers</p>
    <p>Beverages</p>
    <p>Entrees</p>
    <p>Breads</p>
    <p>Biryanis</p>
    <p>Desserts</p>
    <input class="btn btn-primary" value="Delete Menu" type="submit">
  </div>
</div>

