<!--* Created by harini on 11/6/17.-->
<!--**-->
<!--* Created by harini on 11/6/17.-->
<!--*/-->
<app-header></app-header>
<div class="container"><br />
  <div class="row text-center fh5co-heading row-padded">
    <div class="col-md-8 col-md-offset-2">
      <h2 class="heading to-animate">Delete Menu</h2>
    </div>
  </div>
  <div class="form-group ">
    <h3>Menu name: Food Menu</h3>
    <h4>Added Categories:</h4>
    <p>Breakfast</p>
    <p>Lunch</p>
    <p>Dinner</p>
    <input class="btn btn-primary" value="Delete Menu" type="submit">
  </div>
</div>

