<!--**-->
<!--* Created by harini on 11/6/17.-->
<!--*/-->
<app-header></app-header>
<app-navigation></app-navigation>
<div id="fh5co-menus" data-section="menu">
  <div class="container"><br />
    <div class="row text-center fh5co-heading row-padded">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="heading to-animate">Menu</h2>
        <p class="sub-heading to-animate">From a healthy or hearty breakfast, to a light or luscious lunch, or a simply divine dinner.</p>
      </div>
    </div>
      <ng-template ngIf="exists(data)" && *ngFor=" let category of data">
        <div class="fh5co-food-menu to-animate-2 inline-align">
          <div id="{{category.name}}" class="fh5co-food-desc ">
            <div class="category-icon">
            <figure>
              <img src="{{category.imagepath}}" class="img-responsive" alt="Category Icon">
            </figure>
            </div>
            <div>
              <h3 innerHTML="{{category.name}}"></h3>
            </div>
          </div>
        </div>

          <ng-template ngIf="exists(category.fooditems)" && *ngFor=" let item of category.fooditems">
            <div class="fh5co-food-menu to-animate-2">
              <ul>
                <li>
                  <div class="fh5co-food-desc">
                    <figure>
                      <img src="{{item.imagepath}}" class="img-responsive" alt="Dish image">
                    </figure>
                    <div>
                      <h3 innerHTML="{{item.name}}"></h3>
                      <p innerHTML="{{item.description}}"></p>
                    </div>
                    <div innerHTML="${{item.price}}.00" class="fh5co-food-pricing">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-template>
      </ng-template>
    </div>
  </div>
